/CallExpression.class
/CallStatement.class
/Expression.class
/IfStatement.class
/Parser.class
/ScopeStatement.class
/Statement.class
/VariableExpression.class
/VariableStatement.class
/FunctionStatement.class
/Parser$1.class
/Parser$2.class
/LiteralExpression.class
/TypeStatement.class
/MatchStack.class
/MatchStack$Match.class
/Type.class
/BuiltinType.class
